.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    margin: 40px auto ;
    background-color: rgba(10,10,10,0.9);
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
    width: 95%;
    height: auto;
    min-height: 400px;
    max-width: 960px;
}
.containerInfo{
    padding: 15px;
    font-family: rowdies;
    font-size: 14px;
    color: aliceblue;
}
.info{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    padding: 5px;
    margin: 10px;
}
.image{width: 90%;
    max-height: 380px;
    border-radius: 5px;
    box-shadow: rgba(255, 255, 255, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;}

.button{
    font-family: rowdies;
    background-color: #B9D2D2;;
    cursor: pointer;
    width: 60px;
    padding: 5px;
    border-radius: 5px;
    border-style: none;
    margin: 10px;
    cursor: pointer;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
}
.button:hover{
    box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.6);
}
