.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width: 250px;
    height: 300px;
    margin: 10px;
    border-radius: 10px;
    background-color: #62A388;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
    transition: all 0.3s ease-out;
}
.info{
    color:#B9D2D2;
    background-color: #343434;
    font-size: 15px;
    padding: 2px 0px;
    width: 95%;
    margin: auto;
    border-radius: 10px;
    text-decoration: none; 
}
.image{
    width: 50%;
    padding: 8px;
    border-radius: 10px;
} 